doctype html
html(lang="en")
  head
    title="Guessboard"
    link(rel="stylesheet", type="text/css", href="/assets/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/assets/css/app.css")
    link(rel="stylesheet", type="text/css", href="/assets/css/spectrum.css")
    script(type='text/javascript').
      var roomId = '#{roomId}';
  body
    .modal.fade#usernameModal
      .modal-dialog
        .modal-content
          .modal-body
            ="Type in a username to connect."
            br
            br
            input.form-control#usernameInput(type="text" placeholder="Username")
    .modal.fade#errorModal
      .modal-dialog
        .modal-content
          .modal-header#errorHeader
          .modal-body#errorBody
          .modal-footer
            a.btn.btn-primary(href="/g/#{roomId}")="Reconnect"
    .container
      .header
        h1="Guessboard"
      .timer
        .progress
          .progress-bar#timer
      .row#everything
        .col-md-9#canvasContainer
          canvas(width="512", height="384", id="gameCanvas", style="border: solid 1px #e5e5e5;")
        .col-md-3
          ul#messages
          input.form-control#chatbar(type="text", placeholder="Type here to chat")
      input#color(type="text" val="#333")
      p.
        Users in room #{roomId}:
      p#users
  script(type='text/javascript', src="/assets/js/jquery.min.js")
  script(type='text/javascript', src="/assets/js/spectrum.js")
  script(type='text/javascript', src="/assets/js/bootstrap.min.js")
  script(type='text/javascript', src="/socket.io/socket.io.js")
  script(type='text/javascript', src="/assets/js/app.js")